@font-face {
    font-family: 'DFVN Rosmerta';
    src: url('DFVN-Rosmerta-Regular.eot');
    src: url('DFVN-Rosmerta-Regular.eot?#iefix') format('embedded-opentype'),
        url('DFVN-Rosmerta-Regular.woff2') format('woff2'),
        url('DFVN-Rosmerta-Regular.woff') format('woff'),
        url('DFVN-Rosmerta-Regular.ttf') format('truetype'),
        url('DFVN-Rosmerta-Regular.svg#DFVN-Rosmerta-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

